@media screen and (max-width: 601px) {
    .container {
        max-width: 495px;
    }

    .first-section {
        background: #755cf5;
        height: 100%;

        .banner {
            background-image: none;
        }

        header {
            padding: 44px 0;
            margin-bottom: 0;

            .header__content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header__logo-name {
                    margin-right: 0;
                }

                .header__links {
                    display: none;
                }

                .header__modal {
                    display: block;
                    background: none;
                    border: none;
                }
            }
        }

        .banner__content {
            width: 100%;

            .banner__headline {
                flex-direction: column;
                margin-bottom: 38px;
                text-align: center;

                h1 {
                    font-size: 65px;
                    line-height: 70px;
                    max-width: 37%;
                    text-align: center;
                }
            }

            p {
                max-width: 397px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .about {
        padding: 65px 0;

        .about__content {
            .about__content__header {
                margin-bottom: 45px;

                h1 {
                    max-width: 355px;
                }
            }

            .about__content__body {
                grid-template-columns: 1fr;
                gap: 34px;

                p {
                    max-width: 445px;
                }
            }
        }
    }

    .learn-more {
        background-image: url('../assets/iPad\ mini\ 8.3\ -\ 1.png');

        .learn-more__content {
            text-align: center;

            h1 {
                max-width: 415px;
                margin: 0 auto 87px auto;
            }

            button {
                width: 100px;
                height: 100px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                max-width: 400px;
            }
        }
    }

    footer {
        .footer__content {
            flex-direction: column;
            margin: 0 auto;
            align-items: center;

            .footer__content__left {
                flex-direction: column;
                margin-bottom: 18px;

                .footer__content__logo {
                    margin-right: 0;
                }

                .footer__content__about {
                    text-align: center;

                    a,
                    p {
                        text-align: center;
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
}
