body {
    margin: 0;
    padding: 0;
    font-family:
        'Oswald',
        ' Source Sans 3' sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container-xxl {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.first-section {
    background-image: url('../assets/Frame\ 1\ \(16\).png');
    background-position: right top;
    background-size: 64%;
    height: 812px;
    background-repeat: no-repeat;

    .banner {
        background-image: url('../assets/Rectangle.png');
        background-position: left center;
        background-size: 75%;
        background-repeat: no-repeat;
        object-fit: contain;
        height: 812px;
    }

    header {
        padding: 27px 0;
        margin-bottom: 138px;

        .header__content {
            display: flex;
            align-items: center;

            .header__logo-name {
                margin-right: 105px;

                a {
                    color: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-family: 'Source Sans 3';
                }
            }

            .header__links {
                display: flex;
                gap: 32px;
                align-items: center;

                a {
                    color: #fff;
                    font-family: 'Source Sans 3';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 2.8px;
                    text-transform: uppercase;
                    transition: all ease 0.5s;
                    padding: 6px 0;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom: 2px solid #fff;
                        transition: all ease 0.5s;
                    }
                }
            }

            .header__modal,
            .active {
                display: none;
            }
        }
    }

    .banner__content {
        width: 76%;

        .banner__headline {
            display: flex;
            align-items: center;
            margin-bottom: 38px;

            .banner__headline__img {
                width: 234px;
                height: 264px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h1 {
                color: #fff;
                font-family: 'Oswald';
                font-size: 75px;
                font-style: normal;
                font-weight: 700;
                line-height: 84.5px;
                max-width: 386px;
            }
        }

        p {
            color: rgba(255, 255, 255, 0.7);
            font-family: 'Source Sans 3';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            max-width: 418px;
        }
    }
}

.about {
    background: #eee;
    padding: 98px 0;

    .about__content {
        .about__content__header {
            margin-bottom: 45px;

            h1 {
                color: #464547;
                text-align: center;
                font-family: 'Oswald';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 64px;
                max-width: 669px;
                margin: 0 auto 39px auto;
            }

            p {
                color: #666;
                font-family: 'Source Sans 3';
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                max-width: 426px;
                margin: 0 auto;
            }
        }

        .about__content__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 83px;
            margin-bottom: 46px;
            justify-content: space-between;

            p {
                max-width: 408px;
                color: #666;
                font-family: 'Source Sans 3';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin: 0 auto;
            }
        }

        .about__content__btn {
            button {
                border-radius: 18px;
                background: #7b61ff;
                padding: 6px 30px;
                color: #fff;
                text-align: center;
                font-family: 'Oswald';
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 1.4px;
                border: none;
                display: flex;
                margin: 0 auto;
                cursor: pointer;
                transition: all ease 0.5s;

                &:hover {
                    transition: all ease 0.5s;
                    transform: rotate(6deg) translateY(9px);
                }
            }
        }
    }
}

.learn-more {
    background-image: url('../assets/Group\ 1.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 0 75px 0;

    .learn-more__content {
        text-align: center;

        h1 {
            color: #fff;
            text-align: center;
            font-family: 'Oswald';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px;
            max-width: 432px;
            margin: 0 auto 87px auto;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            margin-bottom: 78px;

            svg {
                transition: all ease 0.5s;

                ellipse,
                path {
                    transition: all ease 0.5s;
                }
            }

            &:hover {
                svg {
                    transform: scale(1.03);
                    transition: all ease 0.5s;

                    ellipse {
                        fill: #fff;
                        transition: all ease 0.5s;
                    }

                    path {
                        fill: #755cf5;
                        transition: all ease 0.5s;
                    }
                }
            }
        }

        p {
            color: #fff;
            font-family: 'Source Sans 3';
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            max-width: 532px;
            margin: 0 auto;
        }
    }
}

footer {
    background: #060606;
    padding: 33px 0;

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .footer__content__left {
            display: flex;
            align-items: center;

            .footer__content__logo {
                margin-right: 111px;
            }

            .footer__content__about {
                a,
                p {
                    color: rgba(255, 255, 255, 0.4);
                    font-family: 'Source Sans 3';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    max-width: 137px;
                    margin-bottom: 27px;
                }
            }
        }

        .footer__content__right {
            p {
                color: rgba(255, 255, 255, 0.4);
                font-family: 'Source Sans 3';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
            }
        }
    }
}
